       .AddNote{
        color: rgba(39, 129, 233, 0.855);
        font-family:'Times New Roman', Times, serif;
       }
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content:center;
            height: 100%;
            >h2{
                text-align: center;
                font:100 2.7rem italic;
                letter-spacing: 5px;
                text-transform: uppercase;
                margin: 2rem;
            }
           
            >input,>button{
                background: none;
                padding: 0.8rem;
                width: 40%;
                outline: none;
                font: 400 0.9rem italic;
                margin: 1rem;
                border: none;
                border-bottom: 0.1vmax solid rgba(128, 128, 128, 0.714);
            }
            >button{
                cursor: pointer;
                background: url("./cool-background\ \(3\).png") no-repeat center center/cover;
                color:#fff;
                font: 600 1rem italic;
                text-transform: uppercase;
                margin: 3rem;
               
        }}
        textarea{
            margin: 2rem 0 0 1.2rem;
            height: 12rem;
            border: 0.1vmax solid rgba(128, 128, 128, 0.714);
            font: 450 1rem italic;
            border-radius: 0.3rem;
            background: none;

            
        }

@keyframes upupdowndown {
    to{
        transform:translateY(-10px)
    }
}

@media screen and (max-width:550px){
   
   form{
   >input,>button{
    width: 70%;
   }
}
}